<script type="text/javascript">
var duoshuoQuery = {short_name:"anxingle"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!--
<div id="disqus_thread">
  <button type="button" name="{{ site.disqus.shortname }}" class="btn btn-default show-commend">	
  	<i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>     修改显示评论按钮图标

  </button>
</div>
-->