<!doctype html>
<html>
<head>
  {% include header.html %}
  {% include baiduAnaly.html %}
<!-- 数学公式解析 -->
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>
  <div class="container">
    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">
        <div id="container">
          <div id="pjax">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
  {% include googleanalytics.html %}


</body>
</html>
